button {
    box-sizing: border-box;
    cursor: pointer;
    border: 1px solid black;
    text-align: center;
    transition: .15s ease-in;
}
button:hover,
button:focus{
    transition: .15s ease-in;
}

.hidden{
    display: none!important;
}


.text_important {
    display: block;
    font-size: 18px;
    font-weight: bold;
    color: #000;
}

.text_important:before {
    content: "!";
    margin-right: 4px;
    font-size: 24px;
    color: #f00;
}

.remove_image_button,
.upload_image_button,
.slider_game_add{
    display: inline-block;
    vertical-align: top;
    text-align: center;
    line-height: 4px;
    padding: 18px;
    font-weight: bold;
    color: #fff;
    font-size: 16px;
}

.upload_image_button {
    background: linear-gradient(to bottom, #97DA46 20%, #3F8111 70%, #97DA46 100%);
    border-color: #4CAE4C;

}

.upload_image_button:hover,
.upload_image_button:focus {
    background: linear-gradient(to bottom, #53AE0A 20%, #1D4701 70%, #53AE0A 100%);
    border-color: #1D4701;
}

.remove_image_button {
    background: linear-gradient(to bottom, #ae1213 20%, #d6291c 70%, #ae1213 100%);
    border-color: #9c070e;
    font-size: 26px;
    padding: 0;
    width: 40px;
    height: 40px;
    text-align: center;
    border-radius: 50%;
}

.remove_image_button:hover,
.remove_image_button:focus {
    background: linear-gradient(to bottom, #850621 20%, #d61943 70%, #850621 100%);
    border-color: #470113;
}

.header_game{
    display: block;
    width: 100%;
}

.home_page_header_game{
    padding: 10px 0;
    border: 1px solid #000;
    margin-bottom: 6px;
}


.header_game__item{
    display: inline-block;
    width: 32%;
    text-align: center;
}


.text_recomend {
    display: block;
    font-weight: bold;
}
.slider_game{
    display: inline-block;
    text-align: center;
}

.slider_game__big,
.slider_game__middle{
    display: block;
    min-height: 200px;
    box-sizing: border-box;
    border: 1px solid #000;
    text-align: center;
}


.slider_game__big .group_buttons,
.slider_game__middle .group_buttons{
    margin: 10px auto;
}

.slider_game_add{
    display: block;
    margin: 5px 0;
    background: linear-gradient(to bottom, #2970da 20%, #348da4 70%, #2970da 100%);
    border-color: #2548ae;
}
.slider_game_add:hover,
.slider_game_add:focus{
    background: linear-gradient(to bottom, #4b9fda 20%, #6491a4 70%, #4b9fda 100%);
    border-color: #2548ae
}